* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

video {
  width: auto;
  height: 100vh;
}

img {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}
